EmployeeManagementService/EmployeeManagementServiceConsumer/Service References/EmployeeManagementServiceReference/EmployeeManagementService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeManagementService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeManagementService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpId" type="xs:int" />
      <xs:element minOccurs="0" name="EmpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remark" nillable="true" type="tns:Remarks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="Remarks">
    <xs:sequence>
      <xs:element minOccurs="0" name="RemarkDateTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemarkDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Remarks" nillable="true" type="tns:Remarks" />
</xs:schema>