EmployeeManagementService/EmployeeManagementServiceConsumer/Service References/EmployeeManagementServiceReference/EmployeeManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49666/EmployeeManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49666/EmployeeManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49666/EmployeeManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeManagementService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreateEmployee_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployee_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployee_AddRemark_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRemark" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployee_AddRemark_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRemarkResponse" />
  </wsdl:message>
  <wsdl:message name="IGetDetails_GetAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IGetDetails_GetAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IGetDetails_SearchByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByName" />
  </wsdl:message>
  <wsdl:message name="IGetDetails_SearchByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IGetDetails_SearchById_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchById" />
  </wsdl:message>
  <wsdl:message name="IGetDetails_SearchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreateEmployee">
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEmployee/AddEmployee" message="tns:ICreateEmployee_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEmployee/AddEmployeeResponse" message="tns:ICreateEmployee_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRemark">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEmployee/AddRemark" message="tns:ICreateEmployee_AddRemark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEmployee/AddRemarkResponse" message="tns:ICreateEmployee_AddRemark_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGetDetails">
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetDetails/GetAllEmployees" message="tns:IGetDetails_GetAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetDetails/GetAllEmployeesResponse" message="tns:IGetDetails_GetAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetDetails/SearchByName" message="tns:IGetDetails_SearchByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetDetails/SearchByNameResponse" message="tns:IGetDetails_SearchByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetDetails/SearchById" message="tns:IGetDetails_SearchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetDetails/SearchByIdResponse" message="tns:IGetDetails_SearchById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICreateEmployee" type="tns:ICreateEmployee">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/ICreateEmployee/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRemark">
      <soap:operation soapAction="http://tempuri.org/ICreateEmployee/AddRemark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IGetDetails" type="tns:IGetDetails">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IGetDetails/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByName">
      <soap:operation soapAction="http://tempuri.org/IGetDetails/SearchByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <soap:operation soapAction="http://tempuri.org/IGetDetails/SearchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeManager">
    <wsdl:port name="BasicHttpBinding_ICreateEmployee" binding="tns:BasicHttpBinding_ICreateEmployee">
      <soap:address location="http://localhost:49666/EmployeeManagementService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IGetDetails" binding="tns:BasicHttpBinding_IGetDetails">
      <soap:address location="http://localhost:49666/EmployeeManagementService.svc/retrieval" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>